<div class="container-card">
    <div
        *ngFor="let document of documents"
        class="card"
    >
        <mat-card
            class="example-card"
            *ngIf="document.state == 'En revision'"
        >
            <mat-card-header>
                <div
                    mat-card-avatar
                    class="example-header-image"
                ></div>
                <mat-card-title>{{document.title}}</mat-card-title>
            </mat-card-header>
            <img
                mat-card-image
                [src]="document.image"
                alt="Miñatura del documento"
            >
            <mat-card-content>
                <h2>{{document.state}}</h2>
            </mat-card-content>
        </mat-card>
    </div>
</div>
