<ng-template
    #preview
    let-modal
>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="modal-basic-title"
        >
            {{title}}
        </h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <!-- <div>
        <h2>Visualizar Documento</h2>
        <embed
            type="application/pdf"
            width="400"
            height="400"
        >
    </div> -->
    <div
        class="modal-body"
        *ngIf="state != 'En revisión'"
    >
        <div class="form-group">
            <label for="cars">Revisor</label>
            <select
                class="form-control"
                id="cars"
                name="reviewer"
                [(ngModel)]="selectedValue"
            >
                <option
                    *ngFor="let reviewer of reviewers"
                    [value]="reviewer.email"
                >
                    {{ reviewer.name }}
                </option>
            </select>
        </div>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="!selectedValue"
            (click)="selectReviewer(); modal.close('En revisión')"
        >
            Aceptar
        </button>
    </div>
    <div class="modal-footer"></div>
</ng-template>
