<ng-template
    #preview
    let-modal
>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="modal-basic-title"
        >
            {{title}}
        </h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="cars">Cars</label>
            <select
                class="form-control"
                id="cars"
                name="reviewer"
                [(ngModel)]="selectedValue"
            >
                <option
                    *ngFor="let reviewer of reviewers"
                    [value]="reviewer.email"
                >
                    {{ reviewer.name }}
                </option>
            </select>
        </div>
        <button
            type="button"
            class="btn btn-primary"
            [disabled]="!selectedValue"
            (click)="selectReviewer(); modal.close(true)"
        >
            Aceptar
        </button>
    </div>
    <div class="modal-footer"></div>
</ng-template>
