<div class="container">
    <h2>Subir documento</h2>
    <form [formGroup]="form">
        <mat-form-field>
            <input
                type="text"
                matInput
                placeholder="Titulo"
                formControlName="title"
            >
        </mat-form-field>
        <input
            type="file"
            (change)="handleFileUpload($event)"
            accept=".pdf"
            class="pdfInput"
            #fileInput
            accept=".pdf"
        >
        <button
            mat-icon-button
            color="blue"
            (click)="fileInput.click()"
            [disabled]="!form.get('title')?.value"
        >
            <mat-icon>folder</mat-icon>
        </button>
    </form>
    <div class="container-card">

        <div
            *ngFor="let document of documents; let docIndex=index"
            class="card"
        >
            <div>
                <mat-card class="example-card">
                    <mat-card-header>
                        <div
                            mat-card-avatar
                            class="example-header-image"
                        ></div>
                        <mat-card-title>{{document?.title}}</mat-card-title>
                    </mat-card-header>
                    <img
                        mat-card-image
                        [src]="document?.image"
                        alt="Miñatura del documento"
                        (click)="documentPreview(document.title, docIndex, document.state)"
                    >
                    <mat-card-content>
                        <h2>{{document?.state}}</h2>
                    </mat-card-content>
                    <button
                        mat-fab
                        color="primary"
                        aria-label="Example icon button with a delete icon"
                        (click)="deleteDocument(docIndex)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<app-preview></app-preview>
<app-alert></app-alert>